{% extends 'base.html' %}
{% block content %}
<div class="Hero-about">
    <h1 class="text-center text-white text-uppercase">About Us</h1>
</div>
<div class="mx-auto w-75 py-5">
    <h3 class="SectionTitle text-uppercase pb-2">Mission</h3>
    <p class="py-3">Our work empowers and uplifts our community to fight for racial and economic justice and put a stop to the criminalization of our people.  We fight for the self-determination and sovereignty of SWANA folks under attack in Palestine, Yemen, Iraq, Syria, Lebanon, and across the entire SWANA region with the same breath that we fight for our rights here in the United States. </p>
        
    <p class="py-3">We see our struggles here as a domestic manifestation of global militarism and capitalism, directly connected to the struggles of our people in our homelands. What happens in our homelands has a direct impact on what happens to our communities here in the United States. </p>
    
    <p class="py-3">We are also committed to and actively developing interventions to heal the generational trauma grown from patriarchy and white supremacy that prevent our community from taking effective action towards the transformation and liberation of our people. </p>
    <div class="social-donate my-5">
        <a class="OvalButton DonateButton d-inline-block" href="https://araborganizing.networkforgood.com/projects/100246-main-giving-page">Donate</a>
    </div>
    <hr class="my-5">
    <h3 class="SectionTitle text-uppercase">Our Team</h3>
    <div class="mx-auto w-75 py-5">
    </div>
    <h3 class="SectionTitle text-uppercase">Stay Connected</h3>
    <div class="d-flex flex-lg-row flex-column py-4">
        <div style="flex:1;">
            <p>Sign up for our newsletter to keep up with our current campaigns, get announcements about current actions and rapid response mobilizations, and general updates about our work. </p>
        </div>
        <div style="flex:1;">
            <form>
                <label for="id_firstName" class="form-label">First Name</label>
                <input id="id_firstName" type="text" class="form-control mb-3" name='first_name'>
                <label for="id_lasttName" class="form-label">Last Name</label>
                <input id="id_lastName" type="text" class="form-control mb-3" name='last_name'>
                <label for="id_email" class="form-label">Email</label>
                <input id="id_email" type="email" class="form-control mb-3" name='email'>
                <label for="id_category" class="form-label">Affiliation</label>
                <select id="id_category" class="form-select mb-3">
                    <option>Community</option>
                    <option>Donor</option>
                    <option>Partner</option>
                    <option>Other</option>
                </select>
                <div class="mb-3 form-check">
                    <input type="checkbox" class="form-check-input" id="id_checkBox">
                    <label class="form-check-label" for="id_checkBox">Sign Me Up for Text Alerts</label>
                  </div>
                <button type="submit" class="btn btn-primary w-100 mt-2">Submit</button>
            </form>
        </div>
    </div>
</div>
<div class="Gradient py-5">
    <div class="mx-auto w-75 py-5">
        <h4 class="text-white text-center text-uppercase py-3">"Your power is relative, but it is real. And if you do not learn to use it, it will be used, against you, and me, and our children. Change did not begin with you, and it will not end with you, but what you do in your life is an absolutely vital piece of that chain."</h4>
        <p class="Quote-byline text-white text-center">- Audre Lorde</p>
    </div>
</div>
{% endblock %}