{% extends 'base.html' %}
{% block content %}
<div class="Hero-about Hero-learn">
    <h1 class="text-center text-white text-uppercase">Our Work</h1>
    <p class="PhotoCredit text-white">Photo Credit: Sunshine Velasco</p>
</div>
<div class="mx-auto w-75 py-5">
    <h3 class="SectionTitle text-uppercase pb-2">Mission</h3>
    <p class="py-3">AROC staff and members build power within the Bay Area Arab community to achieve racial, gender, and economic justice.  We provide an accessible and diverse cultural space for formulation of concrete campaigns and strategy to organize for change while prioritizing and taking leadership from the most marginalized sectors of our constituency (working class folks, immigrants, women) to inform our work.   </p>
        
    <p class="py-3">Our programs empower the community to receive support for their daily struggles with institutionalized anti-Arab racism that keep the working-class Arab community unrecognized, and consequently, severely under-resourced.  We provide direct legal services and rapid response to low income Arab and Muslim immigrants to meet the growing need for support around family reunification, immigration enforcement raids and deportation defense, asylum, and FBI repression.  AROC staff connect folks to city services that would generally be inaccessible to our very marginalized and under-represented community.</p>
    <div class="social-donate my-5">
        <a class="OvalButton DonateButton d-inline-block" href="https://araborganizing.networkforgood.com/projects/100246-main-giving-page">Donate</a>
    </div>

</div>
<div class="Gradient py-5">
    <div class="mx-auto w-75 py-5">
        <h4 class="text-white text-center text-uppercase py-3">"Your power is relative, but it is real. And if you do not learn to use it, it will be used, against you, and me, and our children. Change did not begin with you, and it will not end with you, but what you do in your life is an absolutely vital piece of that chain."</h4>
        <p class="Quote-byline text-white text-center">- Audre Lorde</p>
    </div>
</div>
{% endblock %}