{% extends 'base.html' %}
{% block content %}
<div class="Hero-about Hero-youth">
    <h1 class="text-center text-white text-uppercase">Arab Youth Organizing (AYO)
    </h1>
    <p class="PhotoCredit text-white">Photo Credit: Sunshine Velasco</p>
</div>
<div class="mx-auto w-75 py-5">
    <p class="py-3">In 2008, Arab youth—ranging in ages from 14 to 22—came together for an 8-day leadership training program led by AROC. The experience was so empowering that the youth participants decided to continue their work together and to extend that work towards the betterment of not only the Arab community, but for other marginalized groups in the Bay Area. This decision marked the formation of Arab Youth Organizing (AYO). Developing a strong and organized base of Arab youth paved the way for AROC to deepen relationships with the larger community and to build out its adult membership.</p>
    <p class="py-3">Since its founding, AYO expanded to include weekly leadership development programs and partnerships with Oakland and San Francisco Unified School Districts. Focused on working-class Arab and Muslim youth across the Bay Area, AYO leaders gain the organizing skills to be able to successfully lead campaigns that advance racial and economic justice. Through AYO, Arab youth are able to identify and articulate their concerns, come up with ways to address them, and envision the world they are collectively building alongside other movements for social change.</p>
    <a class="btn btn-primary btn-lg mt-3 mb-5" target="_blank" href="https://docs.google.com/forms/d/e/1FAIpQLSfDpnABviI-xvwMJPVWZNCa3wGPx6yy9XlxRL8NJ8dDW_sbZg/viewform">Join AYO's Leadership Program</a>
    <h3 class="SectionTitle text-uppercase pb-2">Arab Youth Summer Institute</h3>
    <p class="py-3">During the summer, youth participate in the Arab Youth Summer Institute to build community, engage in cultural work, and sharpen their leadership skills. </p>
        
    <p class="py-3">As part of the Summer Institute, youth participate in a weeklong retreat at AROC. The retreat focuses on sharpening their leadership skills and having youth engage in community-building, and cultural activities. Youth get a chance to explore their diasporic identities, the issues most impacting them, and strategies to improve the conditions in their communities.</p>

    <p class="py-3">Youth leaders receive stipends to support their participation throughout the school year, as well as credit towards community service hours. </p>

    <p class="py-3">Information and application for the Arab Summer Institute Youth to come later in the Spring semester. </p>

    <a class="btn btn-primary btn-lg mt-3 mb-5" target="_blank" href="https://araborganizing.networkforgood.com/projects/173197-arab-youth-organizing-support-our-youth">Donate to Make Our Youth Work Possible</a>

    <p class="py-3"><a href="https://docs.google.com/forms/d/e/1FAIpQLSfDpnABviI-xvwMJPVWZNCa3wGPx6yy9XlxRL8NJ8dDW_sbZg/viewform" target="_blank"><img class="mx-auto" src="https://asfour.s3.us-west-1.amazonaws.com/media/public/ayo_flyer.png"></a></p>


    {% comment %} <div class="social-donate my-5">
        <a class="OvalButton DonateButton d-inline-block" href="https://araborganizing.networkforgood.com/projects/100246-main-giving-page">Donate</a>
    </div> {% endcomment %}

</div>
<div class="Gradient py-5">
    <div class="mx-auto w-75 py-5">
        <h4 class="text-white text-center text-uppercase py-3">"Everything in this world can be robbed and stolen, except one thing; this one thing is the love that emanates from a human being towards a solid commitment to a conviction or cause."</h4>
        <p class="Quote-byline text-white text-center">- Ghassan Kanafani</p>
    </div>
</div>
{% endblock %}