{% extends 'base.html' %}
{% block content %}
<div class="Hero-about">
    <h1 class="text-center text-white text-uppercase">About Us</h1>
</div>
<div class="mx-auto w-75 py-5">
    <h3 class="SectionTitle text-uppercase pb-2">Mission</h3>
    <p class="py-3"><strong>We organize to fight for racial and economic justice and the dignity and liberation of our Arab, and Muslim communities.</strong> We work towards the self-determination of our people under attack in Palestine, Yemen, Iraq, Syria, Egypt, and across the entire SWANA (South West Asia and and North African) region with the same breath that we fight for our freedoms here in the United States. We see our struggles here as a domestic manifestation of global militarism and racial capitalism, and as the root causes of the political, social and economic instability of our homelands. <strong>In that spirit, we see the liberation of our people as inextricably tied to the liberation of all oppressed people.</strong></p>
        
    <p class="py-3">AROC serves poor and working class Arabs and Muslims across the San Francisco Bay Area, while organizing to overturn racism, forced migration, and militarism. Recognizing the diversity of experiences within our community, AROC utilizes a multi-pronged strategy providing a centralized space for social services meeting material needs, developing analysis, creating strategy, and leading grassroots campaigns for systemic changes that make tangible impacts in the lives of working class SWANA communities.</p>
    
    <p class="py-3"><strong>We are also committed to and actively developing interventions to heal the generational trauma grown from patriarchy and white supremacy so as to not reproduce systems of harm that prevent our community from taking effective action towards the transformation and liberation of our people.</strong></p>
    <div class="social-donate my-5">
        <a class="OvalButton DonateButton d-inline-block" href="https://araborganizing.networkforgood.com/projects/100246-main-giving-page">Donate</a>
    </div>
    <hr class="my-5">
    <h3 class="SectionTitle text-uppercase">Our Team</h3>
    <div class="Bios mx-auto w-75 py-5">
        {% regroup staff_list by category as cat_list %}
        {% for cat in cat_list %}
        <h5 class="py-4">{{ cat.grouper }}</h5>
        {% for staff in cat.list %}
        <div class="Bio">
            <h6>{{ staff.name }}, {{ staff.title }}</h6>
            <p>{{ staff.description }}</p>
        </div>
        {% endfor %}
        {% endfor %}
    </div>
</div>
<div class="Gradient py-5">
    <div class="mx-auto w-75 py-5">
        <h4 class="text-white text-center text-uppercase py-3">"Your power is relative, but it is real. And if you do not learn to use it, it will be used, against you, and me, and our children. Change did not begin with you, and it will not end with you, but what you do in your life is an absolutely vital piece of that chain."</h4>
        <p class="Quote-byline text-white text-center"><em>- Audre Lorde</em></p>
    </div>
</div>
{% endblock %}